app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
composer.lock
composer.json
/nbproject/private/
/.idea
SymfonyRequirements.php
/app/config/parameters.yml
/composer.lock
/nbproject/project.properties
/web/config.php
/app/bootstrap.php.cache
/app/phpunit.xml.dist
/nbproject/project.properties
