{% extends 'default/layout.html.twig' %}
{% block main %}
    <div class="row">
        <div class ="col-md-12 titre">
            <h1>Anomalies</h1>
       </div>
        <form action="#" method="POST">
            <div class="row">
                <div class="metier col-lg-4">
                    <label>Anomalies</label>
                    <select name="metier">
                        <option value="" disabled>---> Ajout <---</option>
                        <option value="Compo pour Brésil, Argentine...">&nbsp;&nbsp;&nbsp;Compo pour Brésil, Argentine...</option>
                        <option value="Etiquette Real Fur (chaussures)">&nbsp;&nbsp;&nbsp;Etiquette Real Fur (chaussures)</option>
                        <option value="Notices chapeaux">&nbsp;&nbsp;&nbsp;Notices chapeaux</option>
                        <option value="Autres">&nbsp;&nbsp;&nbsp;Autres</option>
                        <option value="" disabled>---> Assemblage <---</option>
                        <option value="Notice-cordonnets">&nbsp;&nbsp;&nbsp;Notice-cordonnets</option>
                        <option value="Etiquette Real Fur">&nbsp;&nbsp;&nbsp;Etiquette Real Fur</option>
                        <option value="" disabled>---> Brossage <---</option>
                        <option value="Chapeaux">&nbsp;&nbsp;&nbsp;Chapeaux</option>
                        <option value="Pièce femme">&nbsp;&nbsp;&nbsp;Pièce femme</option>
                        <option value="Pièce femme">&nbsp;&nbsp;&nbsp;Pièce homme</option>
                        <option value="Gants">&nbsp;&nbsp;&nbsp;Gants</option>
                        <option value="SM">&nbsp;&nbsp;&nbsp;SM</option>
                        <option value="Changement étiquettes SKU ou ajout pictogramme" >---> Changement étiquettes SKU ou ajout pictogramme <---</option>
                        <option value="" disabled>---> Détache <---</option>
                        <option value="Femme">&nbsp;&nbsp;&nbsp;Femme</option>
                        <option value="Homme">&nbsp;&nbsp;&nbsp;Homme</option>
                        <option value="SM">&nbsp;&nbsp;&nbsp;SM</option>
                        <option value="Chapeaux">&nbsp;&nbsp;&nbsp;Chapeaux</option>
                        <option value="Gants">&nbsp;&nbsp;&nbsp;Gants</option>
                        <option value="Mouchoirs">&nbsp;&nbsp;&nbsp;Mouchoirs</option>
                        <option value="Equitation">&nbsp;&nbsp;&nbsp;Equitation</option>
                        <option value="Chaussures">&nbsp;&nbsp;&nbsp;Chaussures</option>
                    </select>
                </div>
                <div class="metier col-lg-4">
                    <label>Type de produits</label>
                    <select name="typeProduit">
                        <option value="Debout cuir">Debout cuir</option>
                        <option value="Debout autres">Debout autres</option>
                        <option value="Couchés">Couchés</option>
                        <option value="Fourrure">Fourrure</option>
                        <option value="Accessoires">Accessoires</option>
                        <option value="Meubles">Meubles</option>
                        <option value="Luminaires">Luminaires</option>
                    </select>
                </div>
                <div class="metier col-lg-4">
                    <label>Fabricant</label>
                    <input name="fabricant"></input>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <label>Référence</label>
                    <input name="reference" type="text"/>
                </div>
                <div class="col-lg-3">
                    <label>Code défaut</label>
                    <select name="code">
                        <option value="PC">PC</option>
                        <option value="PH">PH</option>
                        <option value="PF">PF</option>
                        <option value="PJ">PJ</option>
                        <option value="PL">PL</option>
                        <option value="CH">CH</option>
                        <option value="MO">MO</option>
                        <option value="MP">MP</option>
                        <option value="MT">MT</option>
                        <option value="TE">TE</option>
                        <option value="TD">TD</option>
                        <option value="TB">TB</option>
                        <option value="TF">TF</option>
                        <option value="TI">TI</option>
                        <option value="FA">FA</option>
                        <option value="FE">FE</option>
                        <option value="FD">FD</option>
                        <option value="GC">GC</option>
                        <option value="GD">GD</option>
                        <option value="GJ">GJ</option>
                        <option value="EA">EA</option>
                        <option value="EB">EB</option>
                        <option value="XX">XX</option>
                        <option value="FF">FF</option>
                        <option value="GB">GB</option>
                        <option value="MB">MB</option>
                        <option value="TC">TC</option>
                        <option value="MV">MV</option>
                        <option value="TG">TG</option>
                    </select>
                </div>
                <div class="col-lg-3">
                    <label>Quantite</label>
                    <input name="quantite" type="integer"/>
                </div>
                <div class="col-lg-3">
                    <label>Temps</label>
                    <input name="temps" type="number" step="0.01"/>
                </div>
            </div>
            <div class="col-lg-12">
                <label>Commentaire</label>
                <textarea name="commentaire"></textarea>
            </div>
            <input class="btn btn-success"type="submit" value="Enregistrer"></input>
        </form>
        {% if ventilation %}
            <a href="{{ path('ventilation_voir', {'id' : ventilation}) }}"><button class="btn btn-info">Retour</button></a>
        {% else %}
            <a href="{{ path('ventilation_index') }}"><button class="btn btn-info">Retour</button></a>
        {% endif %}
    </div>
   
{% endblock %}